body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(235, 243, 255);
}

.calculator {
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    height: 355px;
    width: 250px;
    border: solid black 3px;
    border-radius: 2%;
    background-color: black;
}

.display {
    height: 55px;
    font-size: 34px;
    text-align: right;
    padding-top: 8px;
    background-color: white;
    border: solid black;
}

.buttons, .left-buttons, .right-buttons {
    display: flex;
}

.left-buttons, .right-buttons {
    height: 100%;
}

.left-buttons {
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.right-buttons {
    flex-direction: column;
    justify-content: stretch;
    flex: 1 0 60px;
}

button {
    box-sizing: border-box;
    height: 20%;
    padding: 10px;
    flex: 1 1 60px;
    font-size: 20px;
    border: solid black;
    border-radius: 2%;
}

.number {
    background-color: rgb(125, 226, 219);
}

.operator {
    background-color: rgb(97, 214, 171);
}

.top-buttons {
    background-color: rgb(179, 218, 95);
}

.zero {
    flex: 2 1 120px;
}